@import './styles/Animations.scss';

body {
  padding: 0;
  background-color: rgb(249, 246, 244);
}

.main {
  padding: 5rem auto;
  height: 100vh;
  margin: 10rem 0;
}

.container {
  width: 30rem;
  display: flex;
  margin: 0 auto;
}

@mixin rounded-squares($backgroundColor, $borderRadius) {
  background-color: $backgroundColor;
  width: 15rem;
  height: 15rem;
  border-radius: $borderRadius;
  display: inline-block;
}

.firstSquare {
  @include rounded-squares(#ffcc33, 15rem 0 0 0);
  @include animation1();
  transition: background-color 2s;
}

.firstSquare:hover {
  background-color: pink;
  background-image: repeating-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.25) 1px,
    transparent 2px,
    transparent 6px
  );
}

.secondSquare {
  display: inline-block;
  border-bottom: 15rem solid #1294d7;
  border-right: 15rem solid #ffe0d6;
  @include animation3();
  transition: transform 3s;
}

.secondSquare:hover {
  transform: scale(0.5);
}

.thirdSquare {
  @include rounded-squares(#c8e4d2, 0 0 0 15rem);
  @include animation2();
  transition: border-radius 2s;
}

.thirdSquare:hover {
  border-radius: 0 0 0 2rem;
}

.fourthSquare {
  display: inline-block;
  border-top: 15rem solid #262626;
  border-right: 15rem solid #fc441a;
  @include animation4();
  transition: border-radius 2s;
}

.fourthSquare:hover {
  border-radius: 50%;
}
