.main {
  padding: 5rem auto;
}

.container {
  width: 25rem;
  display: flex;
  margin: 0 auto;
}

.firstSquare {
  background-color: #ffcc33;
  width: 10rem;
  height: 10rem;
  border-radius: 10rem 0 0 0;
  display: inline-block;
}

.secondSquare {
  display: inline-block;
  border-bottom: 10rem solid #1294d7;
  border-right: 10rem solid #ffe0d6;
}

.thirdSquare {
  background-color: #c8e4d2;
  width: 10rem;
  height: 10rem;
  border-radius: 0 0 0 10rem;
  display: inline-block;
}

.fourthSquare {
  display: inline-block;
  border-top: 10rem solid #262626;
  border-right: 10rem solid #fc441a;
}
